/* header */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.fixed-top {
  position: fixed;
  top:40px;
  right: 0;
  left: 0;
  z-index 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu[x-placement^="top"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #189A46;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}

.navbar .navbar-brand span.fa {
  display: inline-block;
  color: var(--primary-color);
}

.navbar .navbar-brand:hover {
  opacity: 0.95;
}


.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: '';
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
}

a.dropdown-item:hover {
  color: var(--primary-color);
}

a.dropdown-item.active {
  background-color: transparent;
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

/* btn */
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight:400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.border-btn:hover{
  color: var(--primary-color);
  background:#fff;
}


@media (max-width: 375px) {

  .btn-white,
  .btn-style {
    padding: 12px 30px;
  }

  .title-small {
    font-size: 14px !important;
    letter-spacing: .5px;
  }
}

/*-- toggle switch --*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: none;
}

header.nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 20px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 .3rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--text-color);
  text-decoration: none;
  background-color: transparent;
}

/* responsive navbar */
@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }

  .navbar-expand-lg .nav_btn>li {
    padding: 0;
  }
}


@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand img {
    max-width: 109px;
  }

  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn>li {
    margin-left: 0px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .popup {
    display: none;
  }

  a.nav-link:before,
  a.dropdown-item:before {
    display: none;
  }

  a.dropdown-item {
    width: auto;
  }

  .mobile-position {
    position: absolute;
    right: 40px;
    top: 13px;
  }

  .navbar .navbar-brand img {
    max-width: 140px;
  }

  .navbar-toggler {
    border: 0 none;
    font-size: 22px !important;
  }

  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .navbar-nav:last-child {
    border: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }

  .navbar-expand-lg .navbar-nav.nav_btn>li {
    padding-bottom: 10px;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }

  header {
    height: auto;
    padding: 15px 0;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid var(--border-color);
  }

  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width:800px) {

  #site-footer .copyright,
  #site-footer ul.footer-menu {
    text-align: center;
  }
  .mobile-position {
      position: absolute;
      right: 40px;
      top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }

  .navbar .navbar-brand {
    font-size: 30px !important;
  }

  .mobile-position {
    top: 10px;
  }
}

@media only screen and (max-width:384px) {
  .mobile-position {
    top:6px;
  }
}

/* banner */
.banner li {
  list-style-type: none;
}

.banner .banner-info-bg ul li {
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--para-color);
}

.banner .banner-info-bg h6 {
  font-size: 36px;
  margin-bottom: 14px;
  color: #fff;
}

.banner .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.banner .banner-info-bg h5 span {
  font-weight: 300;
}

.banner .banner-info-bg p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.banner .banner-info-bg ul {
  margin: 24px 0;
}

.banner .banner-info-bg span.fa {
  color: var(--primary-color);
}

.banner ul.banner-ul span.fa {
  color: var(--para-color);
}

.banner .banner-info-bg {
  max-width: 700px;
}

.banner p.text-label {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.banner .banner-slider {
  position: relative;
  z-index: 1;
}

.banner .slider-info a img {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
}

.banner .companies20-content {
  position: relative;
}

.banner .banner-view {
  background: url(/image/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.banner .banner-top1 {
  background: url(/image/banner2.jpg) no-repeat center;
  background-size: cover;
}

.banner .banner-top2 {
  background: url(/image/banner3.jpg) no-repeat center;
  background-size: cover;
}

.banner .banner-top3 {
  background: url(/image/banner4.jpg) no-repeat center;
  background-size: cover;
}

.banner .banner-view:before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: .6;
}

/* responsive banner */
@media (max-width:1200px) {
  .banner .banner-info-bg h5 {
    font-size: 52px;
    line-height: 62px;
  }

  .banner .banner-info-bg p {
    font-size: 15px;
  }
}


@media (max-width: 992px) {
  .banner .banner-info-bg h5 {
    font-size: 50px;
    line-height: 55px;
  }

  .banner .owl-nav {
    display: none;
  }
}


@media (max-width: 768px) {
  .banner .banner-info-bg p {
    font-size: 16px;
  }
  .banner .banner-view {
      min-height:580px;
  }
}


@media (max-width:600px) {
  .banner .banner-view {
      min-height:500px;
  }
}


@media (max-width:480px) {
  .banner .banner-info-bg h5 {
    font-size:32px;
    line-height:42px;
  }
  .banner .banner-view {
      min-height: 480px;
  }
}

@media (max-width:440px) {
    .banner .banner-view {
      min-height: 440px;
    }
}

/* about__us */

.about__us .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.h6-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.h3-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.about__us a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

/* work */
.work {
  background-color: var(--bg-light);
}

.work .area-box{
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
}

.work .area-box:hover{
  background: var(--bg-light);
}

.work .area-box:hover h4{
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.work .icon span.fa {
  color: var(--primary-color);
  font-size: 30px;
}

.work .area-box h4 a{
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}

.work .area-box h4 a:hover{
  color: var(--primary-color);
}

.work a.read{
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.work a.read:hover{
  color: var(--primary-color);
}

.work .area-box p{
  margin: 0;
}

@media only screen and (max-width:384px){
  .work .area-box{
    padding: 35px 25px;
  }
}

/* number */
.number{
  background: var(--primary-color);
}

.stats_info p{
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

.stats_info h4{
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: white;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

.stats_info{
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.stats_info:nth-child(3){
  border-right: 0px;
}

.stats_info:nth-child(2){
  border-right: 0px;
  border-left: 0px;
}

@media (max-width: 992px) {
  .stats_info p {
    font-size: 40px !important;
    line-height: 50px;
  }

  .stats_info h4 {
    font-size: 18px !important;
  }
}

@media (max-width: 737px) {
  .stats_info {
    padding: 0 5px !important;
  }

  .stats_info p {
    font-size: 35px !important;
    line-height: 38px;
    margin-top: 20px;
  }

  .stats_info h4 {
    font-size: 17px !important;
  }
}

@media (max-width: 415px) {
  .stats_info span.fa {
    font-size: 2em !important;
  }
}

/* better */
.better{
  background: var(--bg-color);
}

.better .better-block{
  display: grid;
  align-items: center;
  padding: 32px 0;
}

.better .middle-section{
  max-width: 950px;
  margin: 0 auto;
}

.better h6{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
  color: var(--secondary);
}

.better-title{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.better span.video-play-icon{
  background: white;
  display: inline-block;
  width: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation:  ripple 1s linear infinite;
}

.better span.video-play-icon span{
  color: var(--primary-color);
}

.better span.video-play-icon:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.better span.fa.fa-play{
  line-height: 55px;
}

.better .play-view{
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

/* testimonials */
.testimonials {
  background: var(--bg-light);
}

.testimonials .testimonial{
  position: relative;
  overflow: hidden;
  text-align: left;
}

.testimonials .testimonial-width{
  max-width: 1050px;
  margin: auto;
}

.testimonials .sub-title{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.testimonials .testimonial{
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  border: none;
  box-shadow: 0 25px 98px 0  rgba(19, 19, 19, 0.03);
}

.testimonials .testi-des{
  display: flex;
  text-align: center;
}

.testimonials blockquote q {
  font-size: 1.2rem;
  line-height: 28px;
}

.testimonials blockquote q::before{
  font-size: 50px;
  color: var(--primary-color);
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.testimonials .test-img{
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.testimonials .testimonial img{
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.testimonials .testimonial blockquote{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5rem;
}

blockquote {
  margin: 0 0 1rem;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}

blockquote {
  page-break-inside: avoid;
}

.testimonials .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.testimonials .testimonial .peopl h3{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonials p.indentity{
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}

@media (max-width: 667px) {
  .owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
    display: none;
  }
}




